
@font-face {
  font-family: "brixton";
  src: url("fonts/Brixton.ttf") format("truetype");
}
@font-face {
  font-family: "bigNoodle";
  src: url("fonts/big_noodle_titling.ttf") format("truetype");
}
@font-face {
  font-family: "coolvetica";
  src: url("fonts/coolvetica.ttf") format("truetype");
}
@font-face {
  font-family: "lanenar";
  src: url("fonts/LANENAR_.ttf") format("truetype");
}
body{
	font-family: 'Dosis', sans-serif;
	color: rgb(102,101,91);
	background-image: url(../Images/background.png);
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
}

input {
	
	font-family: inherit;
	font-size: inherit;
	margin: 0;

}

input:focus {
  outline: none;
}

input[type="submit"] { cursor: pointer; }
a {
	list-style-position: none;
    text-decoration:none;
	color: rgb(103,102,92);
	list-style: none;
}


nav ul li a.current{
	font-family: "bigNoodle";
	background-color:rgb(163,42,42);
	padding:15px;
	color:white;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
 img{
 	border: none;
 }

 #menu{
	top:0;
	position:absolute;
	width:100%;
	height:50px;

}

#menuContainer{
	z-index:10;
	top:0;
	left:0;
	box-shadow:0px	1px 10px rgb(20,20,20);
	position:fixed;
	background-color: #282830;
	width: 100%;
	height:50px;
}
#menuContent{
	display: inline;
	width:50px;
}
#menutable{
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
}
/*------------------------------------*/
.nav{
	font-size: 18px;
	margin-top: -2px;
}
.nav li{
	margin-top: 2px;
	margin-left: 20px;
	font-family: "bigNoodle";
	padding-top: 15px;
	text-align: center;
	height: 30px;
	width:130px;
	color: white;
	list-style: none;
	float:left;
}
.nav li:hover{	
	background: #1dabb8;
	color: white;
	border-radius: 3px;


}
/*------------------------------------------------------------------------------------*/
#container{
	width: 1170px;
	min-height:500px;
	margin-left: auto;
	margin-right: auto;
}
#mainContent{
	margin-top: 100px;
	text-align: left;
	height: 500px;
}
#mainContent h1 {
	font-family: "bigNoodle";
	font-size: 60px;
	text-align: left;

}
#mainContent h4 {
	font-family: "lanenar";
	font-size: 20px;

}
#mainContent h2{
	font-family: "coolvetica";
	font-size: 30px;

}
.containerWidth{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.superH{
	font-size: 100px;
	font-family: "bigNoodle";
}
.blueBg{
	color: white;
	background-color: #1dabb8;
	padding-top: 100px;
	min-height: 800px;
}
.whiteBg{
	color: #1dabb8;
	background-color: white;
	padding-top: 100px;
	min-height: 500px;
}
.blueBg h2,
.whiteBg h2{
	font-family: "coolvetica";
	font-size: 30px;
	text-align: left;

}
.blueBg h4,
.whiteBg h4{
	font-family: "lanenar";
	font-size: 20px;
	text-align: left;

}
#DS1left{
	float: left;
	height: 256px;
	width:650px;
	min-height: 500px;
}
#DS1left img{
	float: left;
	margin-right: 20px;
}
#DS1right {
	backgorund-color:red;
	float: right;
	height: 256px;
	width:450px;
	min-height: 500px;
}
#DS1left table{
	margin-top:-30px;
}
#DS1left table td{
	padding-left: 5px;
	font-size:20px;
}
.blueButton{
	margin-left:5px;
	height:40px;
	width: 120px;
	cursor: pointer;
	list-style-position: none;
    text-decoration:none;
	color: white;
	border: none;
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
	
}
.hide{
	display: none;
}


/*------------------------------------------------------------------------------------*/

.menuLoginInfo{
	color:white;
	text-align: left;
	min-width: 60px;
}
.menuLoginInfo a{
	color: #1dabb8;
}
.menuLoginInfo a:hover{
	text-decoration: underline;
}

#menutable td{
	color: white;
	min-width: 100px;
}
#buttnHolder {
	font-size:10px;
	padding-top:30px;
}

#LeftSideMenuBar{
	position:fixed;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	color: white;
	float:left;
	height: 100%;
	width: 20%;
	background: #1dabb8;
	vertical-align: center;
}
#LeftSideMenuBar h1{
	font-family: "bigNoodle";
	font-size: 50px;

}
#LeftSideMenuBar h2{
	font-family: "brixton";
	padding-top: 10px;
	vertical-align: center;
	
	height: 50px;

}
.stepDone{
	background-color: #1a8a94;
}
.stepCurrent{
background-color: #28d0df;
}
#LeftSideMenuBarContent{
	margin-top:80px;
}

#RightSideContent{
	color:black;
	position:fixed;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:20%;
	float:left;
	height: 100%;
	width: 80%;
	background: white;
	vertical-align: center;

}

#DivForm1,
#DivForm2,
#DivForm3,
#DivForm4,
#DivForm5,
#DivForm6

{	
	color:  #282830;
	margin-top: 100px;
}
#addNewPetForm h3{
	padding-top: 15px;
	background-color: #282830;
	color: white;
	width: 100%;
	height: 40px;
border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


#addNewPetForm{
	padding-bottom: 50px;
	background-color: rgb(220,220,220);
	width: 800px;
	min-height: 500px;
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}
#addNewPetForm h2{
	font-family: "lanenar";
	text-decoration: underline;
}
#addNewPetForm input[type="text"],
#addNewPetForm input[class="dropDown"],
form input[type="text"],
form input[type="dropdown"]{
	height: 25px;
	width: 150px;
	border: 1px solid  white; 
	border-radius: 2px;
}
#addNewPetForm table{
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
#addNewPetForm td{
	text-align: right;

	  padding-left:5px;
}
#addNewPetForm table tr{
		  height: 32px;
}
.fileUp{
	font-size: 10px;
}
.whiteButton{
	height:40px;
	width: 120px;
	cursor: pointer;
	list-style-position: none;
    text-decoration:none;
	color: #1dabb8;
	border: none;
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	background: white;
	border-radius: 3px;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
	
}
.dropDown{
	height:30px;
	font-size:15px;
	border: none;
	border-radius:2px;
}
#petResultframe{
	padding-top:50px;
	height:95%;
	overflow-y: scroll;
}
.petResult{
	padding-top:10px;
  margin-left: 10px;
  background-color: rgb(245, 245, 245);
  width: 200px;
  display: inline-block;
  height: 450px;
  margin-top: 10px;
  border-radius: 5px;
}
.petResult a{
	font-size:15px;
	text-decoration:underline;
	color: #1dabb8;
}

.petResult h3{
	font-size:15px;
	margin-left:20px;
	text-align:left;
	
}
.petResult table{
	max-width:300px;
	max-height:150px;
	margin-left:auto;
	margin-right:auto;
	height:15px;
}
.petResult td{
	height:15px;

}
.petResult img{
	width:150px;
	height:150px;
	border-radius:75px;

	
}
.adopted{
	color:red;
}
.notAdopted{
	color: green;
}
.fb-share-button{
	margin-left:10px;
}
#medicalCondition h1{
	font-family: "bigNoodle";
	font-size: 50px;
	text-align:left;

	
}
.darkLeftHalfBox{
	float:left;
	min-height:300px;
	width:550px;
}
.darkRightHalfBox{
	float:right;
	min-height:300px;
	width:550px;
}
input[type="number"]{
	background-color: white;
	border-style:solid;
}

