$color: #999;
$color-bg: #eaeaea;

$font-family: sans-serif;
$font-size: 16px;
$font-weight: 400;

$line-height: 1.5em;

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
  
  &:before,
  &:after {
    box-sizing: border-box;
  }
  
}

body {
	background: $color-bg;
	color: $color;
  font: $font-weight #{$font-size}/#{$line-height} $font-family;
	margin: 0;
}

h3 { margin: 0; }

a {
	color: #999;
	text-decoration: none;
}

a:hover { color: #1dabb8; }

fieldset {
	border: none;
	margin: 0;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	-webkit-appearance: none;
}

input:focus {
  outline: none;
}

input[type="submit"] { cursor: pointer; }

.clearfix {
  *zoom: 1;
  
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  
  &:after {
    clear: both;
  }
  
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN-FORM ---------- */

#login-form {
	width: 300px;
	
}

#login-form h3 {
	background-color: #282830;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

#login-form fieldset {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
	background-color:rgb(220,220,220);
}

#login-form fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

#login-form input {
	font-size: 14px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 200px;
}

#login-form input[type="text"] {
	border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

#upload input[type="submit"] {
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	float: left;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
}

#login-form input[type="submit"]:hover { background: #198d98; }

#login-form footer {
	font-size: 12px;
	margin-top: 16px;
}

.info {
	background: #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}
@font-face {
  font-family: "bigNoodle";
  src: url("fonts/big_noodle_titling.ttf") format("truetype");
}
@font-face {
  font-family: "coolvetica";
  src: url("fonts/coolvetica.ttf") format("truetype");
}
@font-face {
  font-family: "lanenar";
  src: url("fonts/LANENAR_.ttf") format("truetype");
}
body{
	font-family: 'Dosis', sans-serif;
	color: rgb(102,101,91);
	background-image: url(../Images/background.png);
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
}

a {
	list-style-position: none;
    text-decoration:none;
	color: rgb(103,102,92);
	list-style: none;
}


nav ul li a.current{
	font-family: "bigNoodle";
	background-color:rgb(163,42,42);
	padding:15px;
	color:white;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
 img{
 	border: none;
 }

 #menu{
	top:0;
	position:absolute;
	width:100%;
	height:50px;

}

#menuContainer{
	z-index:10;
	top:0;
	left:0;
	box-shadow:0px	1px 10px rgb(20,20,20);
	position:fixed;
	background-color: #282830;
	width: 100%;
	height:50px;
}
#menuContent{
	display: inline;
	width:50px;
}
#menutable{
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
}
/*------------------------------------*/
.nav{
	font-size: 18px;
	margin-top: -2px;
}
.nav li{
	margin-top: 2px;
	margin-left: 20px;
	font-family: "bigNoodle";
	padding-top: 15px;
	text-align: center;
	height: 30px;
	width:130px;
	color: white;
	list-style: none;
	float:left;
}
.nav li:hover{	
	background: #1dabb8;
	color: white;
	border-radius: 3px;


}
#slideshow {
    margin-left: auto;
    margin-right: auto;
    height:350px;
    width:950px;

}
#header{
	margin-right: auto;
	margin-left: auto;
}
#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
    border-radius: 10px;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}

#banner{
	z-index:8;
	position: relative;
	margin-left:0px;
	margin-right:0px;
	margin-top:-30px;
	width:881px;
}
/*------------------------------------------------------------------------------------*/
#container{
	width: 1170px;
	min-height:500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
#mainContent{
	margin-top:100px;
	text-align: left;
	height: 500px;
}
#mainContent h1 {
	font-family: "bigNoodle";
	font-size: 60px;
	text-align: center;

}
#mainContent h4 {
	font-family: "lanenar";
	font-size: 20px;

}
#mainContent h2{
	font-family: "coolvetica";
	font-size: 30px;

}
.containerWidth{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.superH{
	font-size: 100px;
	font-family: "bigNoodle";
}
.blueBg{
	color: white;
	background-color: #1dabb8;
	padding-top: 100px;
	min-height: 500px;
}
.suBg h2{
	font-family: "coolvetica";
	font-size: 30px;
	text-align: left;

}
.blueBg h4{
	font-family: "lanenar";
	font-size: 20px;
	text-align: left;

}
/*---------------------------------------------*/
.menuLoginInfo{
	color:white;
	text-align: left;
	min-width: 60px;
}
.menuLoginInfo a{
	color: #1dabb8;
}
.menuLoginInfo a:hover{
	text-decoration: underline;
}

#menutable td{
	color: white;
	min-width: 100px;
}