
@font-face {
  font-family: "bigNoodle";
  src: url("fonts/big_noodle_titling.ttf") format("truetype");
}
@font-face {
  font-family: "coolvetica";
  src: url("fonts/coolvetica.ttf") format("truetype");
}
@font-face {
  font-family: "lanenar";
  src: url("fonts/LANENAR_.ttf") format("truetype");
}
body{
	font-family: 'Dosis', sans-serif;
	color: rgb(102,101,91);
	background-image: url(../Images/background.png);
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
}

input {
	
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	-webkit-appearance: none;

}

input:focus {
  outline: none;
}

input[type="submit"] { cursor: pointer; }
a {
	list-style-position: none;
    text-decoration:none;
	color: rgb(103,102,92);
	list-style: none;
}


nav ul li a.current{
	font-family: "bigNoodle";
	background-color:rgb(163,42,42);
	padding:15px;
	color:white;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
 img{
 	border: none;
 }

 #menu{
	top:0;
	position:absolute;
	width:100%;
	height:50px;

}

#menuContainer{
	z-index:10;
	top:0;
	left:0;
	box-shadow:0px	1px 10px rgb(20,20,20);
	position:fixed;
	background-color: #282830;
	width: 100%;
	height:50px;
}
#menuContent{
	display: inline;
	width:50px;
}
#menutable{
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
}
/*------------------------------------*/
.nav{
	font-size: 18px;
	margin-top: -2px;
}
.nav li{
	margin-top: 2px;
	margin-left: 20px;
	font-family: "bigNoodle";
	padding-top: 15px;
	text-align: center;
	height: 30px;
	width:130px;
	color: white;
	list-style: none;
	float:left;
}
.nav li:hover{	
	background: #1dabb8;
	color: white;
	border-radius: 3px;


}
/*------------------------------------------------------------------------------------*/
#container{
	width: 1170px;
	min-height:500px;
	margin-left: auto;
	margin-right: auto;
}
#mainContent{
	margin-top: 100px;
	text-align: left;
	height: 500px;
}
#mainContent h1 {
	font-family: "bigNoodle";
	font-size: 60px;
	text-align: left;

}
#mainContent h4 {
	font-family: "lanenar";
	font-size: 20px;

}
#mainContent h2{
	font-family: "coolvetica";
	font-size: 30px;

}
.containerWidth{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.superH{
	font-size: 100px;
	font-family: "bigNoodle";
}
.blueBg{
	color: white;
	background-color: #1dabb8;
	padding-top: 100px;
	min-height: 500px;
	padding-bottom: 50px;
}
.blueBg h2{
	font-family: "coolvetica";
	font-size: 30px;
	text-align: left;

}
.blueBg h4{
	font-family: "lanenar";
	font-size: 20px;
	text-align: left;

}


#DashboardSection1 h2{
	margin-top:-10px;
	color: #1dabb8; 
	font-family: "bigNoodle";
	font-size: 60px;

}
#DashboardSection1 h3{
	font-size: 25px;
	color: #282830; 
	font-family: "bigNoodle";


}
#DashboardSection1 h4{
	text-align: center;
	font-size: 25px;
	color: #282830; 
	font-family: "bigNoodle";


}
#DS1left{
	float: left;
	height: 256px;
	width:650px;
	min-height: 500px;
}
#DS1left img{
	float: left;
	margin-right: 20px;
}
#DS1right {
	float: right;
	height: 256px;
	width:500px;
	min-height: 500px;
}
#DS1right table{
	margin-top:-25px;
}
#DS1right {
	margin-top:-25px;
}

#DS1left table{
	margin-top:-30px;
}
#DS1left table td{
	padding-left: 5px;
	font-size:20px;
}
.blueButton{
	height:40px;
	width: 120px;
	cursor: pointer;
	list-style-position: none;
    text-decoration:none;
	color: white;
	border: none;
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
	
}
.hide{
	display: none;
}


/*------------------------------------------------------------------------------------*/

.menuLoginInfo{
	color:white;
	text-align: left;
	min-width: 60px;
}
.menuLoginInfo a{
	color: #1dabb8;
}
.menuLoginInfo a:hover{
	text-decoration: underline;
}

#menutable td{
	color: white;
	min-width: 100px;
}  
#buttnHolder {
	vertical-align:center;
	font-size:10px;
	padding-top:30px;
}
#adoptions{
	margin-top:500px;
}

.darkLeftHalfBox{
	float:left;
	min-height:300px;
	width:550px;
}
.darkRightHalfBox{
	float:right;
	min-height:300px;
	width:550px;
}
.whiteButton{
	height:40px;
	width: 120px;
	cursor: pointer;
	list-style-position: none;
    text-decoration:none;
	color: #1dabb8;
	border: none;
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	background: white;
	border-radius: 3px;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
	
}
.whiteBg{
	min-height:500px;
	
}
#DS1leftEdit{
	width:360px;
	float:right;
}
#DS1leftEdit input[type="text"],
#DS1leftEdit input[type="password"]{
	width: 250px;
}

input[type="text"],
input[type="password"]{
	vertical-align:center;
	width: 250px;
	height: 40px;
	border-style: none;
	border-radius: 5px;
}
.adminTableDisplay td{
	width: 250px;
	text-align: center;
}
.whiteBg input[type="text"]{
	border-style: solid;
}